In [ ]:
# pip install langchain chromadb tiktoken tabulate sqlalchemy sqlalchemy-bigquery google-cloud-bigquery

# BigQuery QA

In [74]:
! pip install langchain chromadb sqlalchemy sqlalchemy-bigquery google-cloud-bigquery

Requirement already satisfied: langchain in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (0.0.274)
Requirement already satisfied: chromadb in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (0.4.7)
Requirement already satisfied: sqlalchemy in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (1.4.50)
Requirement already satisfied: sqlalchemy-bigquery in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (1.8.0)
Requirement already satisfied: google-cloud-bigquery in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (3.11.4)
Requirement already satisfied: PyYAML>=5.3 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (6.0.1)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (3.8.5)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (0.5.7)
Requirement already satisfied: langsmith<0.1.0,>=0.0.21 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (0.0.25)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (1.25.2)
Requirement already satisfied: pydantic<3,>=1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (1.10.12)
Requirement already satisfied: requests<3,>=2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from langchain) (8.2.3)
Requirement already satisfied: chroma-hnswlib==0.7.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (0.7.2)
Requirement already satisfied: fastapi<0.100.0,>=0.95.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (0.99.1)
Requirement already satisfied: uvicorn[standard]>=0.18.3 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (0.23.2)
Requirement already satisfied: posthog>=2.4.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (3.0.2)
Requirement already satisfied: typing-extensions>=4.5.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (4.7.1)
Requirement already satisfied: pulsar-client>=3.1.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (3.2.0)
Requirement already satisfied: onnxruntime>=1.14.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (1.15.1)
Requirement already satisfied: tokenizers>=0.13.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (0.13.3)
Requirement already satisfied: pypika>=0.48.9 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (0.48.9)
Requirement already satisfied: tqdm>=4.65.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (4.66.1)
Requirement already satisfied: overrides>=7.3.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (7.4.0)
Requirement already satisfied: importlib-resources in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (6.0.1)
Requirement already satisfied: bcrypt>=4.0.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from chromadb) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from sqlalchemy-bigquery) (2.11.1)
Requirement already satisfied: google-auth<3.0.0dev,>=1.25.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from sqlalchemy-bigquery) (2.22.0)
Requirement already satisfied: packaging in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from sqlalchemy-bigquery) (23.1)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (1.57.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (2.5.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (4.23.4)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: attrs>=17.3.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (3.20.1)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (1.5.1)
Requirement already satisfied: typing-inspect>=0.4.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (0.9.0)
Requirement already satisfied: starlette<0.28.0,>=0.27.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from fastapi<0.100.0,>=0.95.2->chromadb) (0.27.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->sqlalchemy-bigquery) (1.60.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->sqlalchemy-bigquery) (1.57.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (0.2.7)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (4.9)
Requirement already satisfied: six>=1.9.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (1.16.0)
Requirement already satisfied: urllib3<2.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (1.26.15)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: coloredlogs in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from onnxruntime>=1.14.1->chromadb) (15.0.1)
Requirement already satisfied: flatbuffers in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from onnxruntime>=1.14.1->chromadb) (23.5.26)
Requirement already satisfied: sympy in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from onnxruntime>=1.14.1->chromadb) (1.12)
Requirement already satisfied: monotonic>=1.5 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from posthog>=2.4.0->chromadb) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from posthog>=2.4.0->chromadb) (2.2.1)
Requirement already satisfied: certifi in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from pulsar-client>=3.1.0->chromadb) (2023.7.22)
Requirement already satisfied: idna<4,>=2.5 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: click>=7.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (8.1.7)
Requirement already satisfied: h11>=0.8 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.14.0)
Requirement already satisfied: httptools>=0.5.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.6.0)
Requirement already satisfied: python-dotenv>=0.13 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (1.0.0)
Requirement already satisfied: uvloop!=0.15.0,!=0.15.1,>=0.14.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.17.0)
Requirement already satisfied: watchfiles>=0.13 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (0.20.0)
Requirement already satisfied: websockets>=10.4 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from uvicorn[standard]>=0.18.3->chromadb) (11.0.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.25.0->sqlalchemy-bigquery) (0.4.8)
Requirement already satisfied: anyio<5,>=3.4.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from starlette<0.28.0,>=0.27.0->fastapi<0.100.0,>=0.95.2->chromadb) (3.7.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (1.0.0)
Requirement already satisfied: humanfriendly>=9.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from coloredlogs->onnxruntime>=1.14.1->chromadb) (10.0)
Requirement already satisfied: mpmath>=0.19 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from sympy->onnxruntime>=1.14.1->chromadb) (1.3.0)
Requirement already satisfied: sniffio>=1.1 in /Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi<0.100.0,>=0.95.2->chromadb) (1.3.0)

In [6]:
import pandas as pd

from google.cloud import bigquery
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *

from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

from langchain.agents import AgentExecutor
from langchain.llms import VertexAI

from google.cloud import aiplatform

### Set Variables

In [ ]:
service_account_file = "/path/to/your/file/secret.json" 

PROJECT_ID = "your-project-id"
DATASET = "IBM_ATTRITION"
TABLE = "ATTRITION_TABLE"
sqlalchemy_url = f'bigquery://{PROJECT_ID}/{DATASET}?credentials_path={service_account_file}'

### Load Data

In [22]:
df = pd.read_csv("IBM.csv")
df

,Age,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,WorkLifeBalance,YearsAtCompany
0,41,Yes,Sales,1,2,Life Sciences,2,4,Single,5993,8,1,6
1,49,No,Research & Development,8,1,Life Sciences,3,2,Married,5130,1,3,10
2,37,Yes,Research & Development,2,2,Other,4,3,Single,2090,6,3,0
3,33,No,Research & Development,3,4,Life Sciences,4,3,Married,2909,1,3,8
4,27,No,Research & Development,2,1,Medical,1,2,Married,3468,9,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Research & Development,23,2,Medical,3,4,Married,2571,4,3,5
1466,39,No,Research & Development,6,1,Medical,4,1,Married,9991,4,3,7
1467,27,No,Research & Development,4,3,Life Sciences,2,2,Married,6142,1,3,6
1468,49,No,Sales,2,3,Medical,4,2,Married,5390,2,2,9
1469,34,No,Research & Development,8,3,Medical,2,3,Married,4404,2,4,4

### LLM: Google PaLm & VertexAI

In [75]:
# initialize LLM

aiplatform.init(project=PROJECT_ID)

llm = VertexAI(model_name='text-bison@001')

In [76]:
# test LLM

question = "What day comes after Friday?"

llm(question)

'Saturday'

In [10]:
# Connect Sqlalchemy, LangChain, and VertexAI

db = SQLDatabase.from_uri(sqlalchemy_url)

llm = VertexAI(model_name='text-bison@001')

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(llm=llm,
                                    toolkit=toolkit,
                                    verbose=True,
                                    top_k=1000,
                                    )

/Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages/google/cloud/bigquery/client.py:570: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(

### How many different Departments are there?

In [13]:
agent_executor.run("How many different Departments are there?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: ATTRITION_TABLE
Thought:I should query the schema of the ATTRITION_TABLE table to see what columns it has.
Action: sql_db_schema
Action Input: ATTRITION_TABLE
Observation:
CREATE TABLE `ATTRITION_TABLE` (
	`Age` INT64,
	`Attrition` BOOL,
	`Department` STRING,
	`DistanceFromHome` INT64,
	`Education` INT64,
	`EducationField` STRING,
	`EnvironmentSatisfaction` INT64,
	`JobSatisfaction` INT64,
	`MaritalStatus` STRING,
	`MonthlyIncome` INT64,
	`NumCompaniesWorked` INT64,
	`WorkLifeBalance` INT64,
	`YearsAtCompany` INT64
)

/*
3 rows from ATTRITION_TABLE table:
Age	Attrition	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	JobSatisfaction	MaritalStatus	MonthlyIncome	NumCompaniesWorked	WorkLifeBalance	YearsAtCompany
19	True	Sales	21	3	Other	4	2	Single	2121	1	4	1
21	True	Research & Development	18	1	Other	4	4	Single	2693	1	2	1
22	False	Research & Development	26	2	Other	2	3	Married	2814	1	2	4
*/
Thought:I should query the ATTRITION_TABLE table to get the unique values of the Department column.
Action: sql_db_query
Action Input: SELECT DISTINCT Department FROM ATTRITION_TABLE
Observation: [('Sales',), ('Research & Development',), ('Human Resources',)]
Thought:I now know the final answer
Final Answer: There are 3 different Departments.

> Finished chain.

'There are 3 different Departments.'

In [24]:
df['Department'].nunique()

3

### What's the average monthly income for the Sales department?

In [20]:
agent_executor.run("What's the average monthly income for the Sales department?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: ATTRITION_TABLE
Thought:I don't know what the ATTRITION_TABLE is. I should ask for a schema of it.
Action: sql_db_schema
Action Input: ATTRITION_TABLE
Observation:
CREATE TABLE `ATTRITION_TABLE` (
	`Age` INT64,
	`Attrition` BOOL,
	`Department` STRING,
	`DistanceFromHome` INT64,
	`Education` INT64,
	`EducationField` STRING,
	`EnvironmentSatisfaction` INT64,
	`JobSatisfaction` INT64,
	`MaritalStatus` STRING,
	`MonthlyIncome` INT64,
	`NumCompaniesWorked` INT64,
	`WorkLifeBalance` INT64,
	`YearsAtCompany` INT64
)

/*
3 rows from ATTRITION_TABLE table:
Age	Attrition	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	JobSatisfaction	MaritalStatus	MonthlyIncome	NumCompaniesWorked	WorkLifeBalance	YearsAtCompany
19	True	Sales	21	3	Other	4	2	Single	2121	1	4	1
21	True	Research & Development	18	1	Other	4	4	Single	2693	1	2	1
22	False	Research & Development	26	2	Other	2	3	Married	2814	1	2	4
*/
Thought:The ATTRITION_TABLE has the information I need. I should query the average monthly income for the Sales department.
Action: sql_db_query
Action Input: SELECT AVG(MonthlyIncome) FROM ATTRITION_TABLE WHERE Department = 'Sales'
Observation: [(6959.17264573991,)]
Thought:I now know the final answer
Final Answer: The average monthly income for the Sales department is 6959.17.

> Finished chain.

'The average monthly income for the Sales department is 6959.17.'

In [28]:
df[['Department', 'MonthlyIncome']].groupby('Department').mean().round(2).reset_index()

               Department  MonthlyIncome
0         Human Resources        6654.51
1  Research & Development        6281.25
2                   Sales        6959.17

### Which department has the highest number of attrition and how far on average is the distance from home for those who attited from this department?

In [44]:
agent_executor.run("Which department has the highest number of attrition and how far on average is the distance from home for those who attited from this department?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: ATTRITION_TABLE
Thought:I should query the schema of the ATTRITION_TABLE table to see what columns it has.
Action: sql_db_schema
Action Input: ATTRITION_TABLE

Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

Observation:
CREATE TABLE `ATTRITION_TABLE` (
	`Age` INT64,
	`Attrition` BOOL,
	`Department` STRING,
	`DistanceFromHome` INT64,
	`Education` INT64,
	`EducationField` STRING,
	`EnvironmentSatisfaction` INT64,
	`JobSatisfaction` INT64,
	`MaritalStatus` STRING,
	`MonthlyIncome` INT64,
	`NumCompaniesWorked` INT64,
	`WorkLifeBalance` INT64,
	`YearsAtCompany` INT64
)

/*
3 rows from ATTRITION_TABLE table:
Age	Attrition	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	JobSatisfaction	MaritalStatus	MonthlyIncome	NumCompaniesWorked	WorkLifeBalance	YearsAtCompany
19	True	Sales	21	3	Other	4	2	Single	2121	1	4	1
21	True	Research & Development	18	1	Other	4	4	Single	2693	1	2	1
22	False	Research & Development	26	2	Other	2	3	Married	2814	1	2	4
*/
Thought:

Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

I should query the ATTRITION_TABLE table to find the department with the highest number of attrition.
Action: sql_db_query
Action Input: SELECT Department, AVG(DistanceFromHome) FROM ATTRITION_TABLE WHERE Attrition = True GROUP BY Department ORDER BY COUNT(*) DESC LIMIT 1
Observation: [('Research & Development', 10.263157894736842)]
Thought:I now know the final answer
Final Answer: The department with the highest number of attrition is Research & Development, and the average distance from home for those who attited from this department is 10.263157894736842.

> Finished chain.

'The department with the highest number of attrition is Research & Development, and the average distance from home for those who attited from this department is 10.263157894736842.'

In [42]:
df[['Attrition','Department', 'DistanceFromHome']].groupby(['Department','Attrition']).count().reset_index()

               Department Attrition  DistanceFromHome
0         Human Resources        No                51
1         Human Resources       Yes                12
2  Research & Development        No               828
3  Research & Development       Yes               133
4                   Sales        No               354
5                   Sales       Yes                92

In [41]:
df[['Attrition','Department', 'DistanceFromHome']].groupby(['Department','Attrition']).mean().round(2).reset_index()

               Department Attrition  DistanceFromHome
0         Human Resources        No              7.59
1         Human Resources       Yes             13.42
2  Research & Development        No              8.96
3  Research & Development       Yes             10.26
4                   Sales        No              8.99
5                   Sales       Yes             10.80

### What is the percentage of employees who live more than 5 miles from home and who have attrited from the Sales department?

In [77]:
agent_executor.run("What is the percentage of employees who live more than 5 miles from home and who have attrited from the Sales department?")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: ATTRITION_TABLE
Thought:I should look at the schema of the ATTRITION_TABLE to see what columns I can query.
Action: sql_db_schema
Action Input: ATTRITION_TABLE
Observation:
CREATE TABLE `ATTRITION_TABLE` (
	`Age` INT64,
	`Attrition` BOOL,
	`Department` STRING,
	`DistanceFromHome` INT64,
	`Education` INT64,
	`EducationField` STRING,
	`EnvironmentSatisfaction` INT64,
	`JobSatisfaction` INT64,
	`MaritalStatus` STRING,
	`MonthlyIncome` INT64,
	`NumCompaniesWorked` INT64,
	`WorkLifeBalance` INT64,
	`YearsAtCompany` INT64
)

/*
3 rows from ATTRITION_TABLE table:
Age	Attrition	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	JobSatisfaction	MaritalStatus	MonthlyIncome	NumCompaniesWorked	WorkLifeBalance	YearsAtCompany
19	True	Sales	21	3	Other	4	2	Single	2121	1	4	1
21	True	Research & Development	18	1	Other	4	4	Single	2693	1	2	1
22	False	Research & Development	26	2	Other	2	3	Married	2814	1	2	4
*/
Thought:I should write a query to answer the question.
Action: sql_db_query
Action Input: SELECT COUNT(*) / (SELECT COUNT(*) FROM ATTRITION_TABLE WHERE Department = 'Sales') AS Percentage FROM ATTRITION_TABLE WHERE Department = 'Sales' AND DistanceFromHome > 5
Observation: [(0.5762331838565022,)]
Thought:I now know the final answer
Final Answer: 0.5762331838565022

> Finished chain.

'0.5762331838565022'

In [65]:
df[(df['Department']=='Sales')&(df['DistanceFromHome']>5)]['DistanceFromHome'].value_counts().sum() / \
df[(df['Department']=='Sales')]['DistanceFromHome'].value_counts().sum()

0.5762331838565022

In [63]:
df[(df['Department']=='Sales')&(df['DistanceFromHome'] > 5)]['Attrition'].value_counts()

Attrition
No     199
Yes     58
Name: count, dtype: int64

In [58]:

df[(df['Department']=='Sales')&(df['Attrition']=='Yes')&(df['DistanceFromHome']>5)]['DistanceFromHome'].value_counts().sum() / \
df[(df['Department']=='Sales')&(df['Attrition']=='Yes')]['DistanceFromHome'].value_counts().sum()

0.6304347826086957

### What department has the most Attrition?

In [72]:
agent_executor.run("What department has the most Attrition?")

> Entering new AgentExecutor chain...

Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

Action: sql_db_list_tables
Action Input:
Observation: ATTRITION_TABLE
Thought:

Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

I should query the schema of the ATTRITION_TABLE table to see what columns I can use in my query.
Action: sql_db_schema
Action Input: ATTRITION_TABLE

/Users/sam/opt/anaconda3/envs/table_qa_env/lib/python3.11/site-packages/google/cloud/bigquery/client.py:570: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  warnings.warn(
Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

Observation:
CREATE TABLE `ATTRITION_TABLE` (
	`Age` INT64,
	`Attrition` BOOL,
	`Department` STRING,
	`DistanceFromHome` INT64,
	`Education` INT64,
	`EducationField` STRING,
	`EnvironmentSatisfaction` INT64,
	`JobSatisfaction` INT64,
	`MaritalStatus` STRING,
	`MonthlyIncome` INT64,
	`NumCompaniesWorked` INT64,
	`WorkLifeBalance` INT64,
	`YearsAtCompany` INT64
)

/*
3 rows from ATTRITION_TABLE table:
Age	Attrition	Department	DistanceFromHome	Education	EducationField	EnvironmentSatisfaction	JobSatisfaction	MaritalStatus	MonthlyIncome	NumCompaniesWorked	WorkLifeBalance	YearsAtCompany
19	True	Sales	21	3	Other	4	2	Single	2121	1	4	1
21	True	Research & Development	18	1	Other	4	4	Single	2693	1	2	1
22	False	Research & Development	26	2	Other	2	3	Married	2814	1	2	4
*/
Thought:

Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..
Retrying langchain.llms.vertexai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ResourceExhausted: 429 Quota exceeded for aiplatform.googleapis.com/online_prediction_requests_per_base_model with base model: text-bison. Please submit a quota increase request. https://cloud.google.com/vertex-ai/docs/quotas..

I should write a query to get the department with the most Attrition.
Action: sql_db_query
Action Input: SELECT Department, count(*) as AttritionCount FROM ATTRITION_TABLE GROUP BY Department ORDER BY AttritionCount DESC LIMIT 1
Observation: [('Research & Development', 961)]
Thought:I now know the final answer
Final Answer: Research & Development has the most Attrition.

> Finished chain.

'Research & Development has the most Attrition.'

In [82]:
df.groupby(['Department', 'Attrition']).count().reset_index().rename(columns = {'Age':'Count'})[['Department', 'Attrition', 'Count']]

               Department Attrition  Count
0         Human Resources        No     51
1         Human Resources       Yes     12
2  Research & Development        No    828
3  Research & Development       Yes    133
4                   Sales        No    354
5                   Sales       Yes     92